<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>
      <a [routerLink]="['/home']">{{title}}</a>
    </button>

    <span class="mat-toolbar-spacer"></span>

    <button mat-button>
      <a [routerLink]="['/book', randomInt]">Что почитать?</a>
    </button>
    <button mat-button>
      <a [routerLink]="['/authors']">Авторы</a>
    </button>
    <button mat-button [matMenuTriggerFor]="books">Книги</button>

    <mat-menu #books="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="topByGenre">Топ жанра</button>
      <button mat-menu-item>
        <a [routerLink]="['/book']">Топ 50</a>
      </button>
    </mat-menu>

    <mat-menu #topByGenre="matMenu">
      <button mat-menu-item>
        <a [routerLink]="['/book/genre/Реализм']">Реализм</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="['/book/genre/Фантастика']">Фантастика</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="['/book/genre/Фентези']">Фентези</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="['/book/genre/Детектив']">Детектив</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="['/book/genre/Роман']">Роман</a>
      </button>
    </mat-menu>

    <button mat-button>Цитаты</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
