<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>
      <a [routerLink]="['/home']">{{title}}</a>
    </button>

    <span class="mat-toolbar-spacer"></span>

    <button mat-button>Что почитать?</button>
    <button mat-button>
      <a [routerLink]="['/authors']">Авторы</a>
    </button>
    <button mat-button [matMenuTriggerFor]="books">Книги</button>

    <mat-menu #books="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="topByGenre">Топ жанра</button>
      <button mat-menu-item>
        <a [routerLink]="['/book']">Топ 50</a>
      </button>
    </mat-menu>

    <mat-menu #topByGenre="matMenu">
      <button mat-menu-item>Реализм</button>
      <button mat-menu-item>Фантастика</button>
      <button mat-menu-item>Фентези</button>
      <button mat-menu-item>Детектив</button>
      <button mat-menu-item>Роман</button>
    </mat-menu>

    <button mat-button>Цитаты</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
