<h2> Добавьте свою книгу: </h2>
<div>
  <label>Название книги:
    <input #title />
  </label>
  <label>Имя автора:
    <input #authorName />
  </label>
  <label>Язык:
    <input #language />
  </label>
  <button (click)="add(title.value, authorName.value, language.value)">
    add
  </button>
</div>
<h2> Топ 50 книг: </h2>
<div>
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Позиция </mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <a [routerLink]="['/api/book', book.id]">{{book.title}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Автор </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <a [routerLink]="['/api/authors', book.author.id]">{{book.author.fullname}} </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef> Рейтинг </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book.rating}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
