<div *ngIf="book">
  <div>
    <mat-grid-list cols=8 rowHeight=20 [style.background]=color>
      <mat-grid-tile [colspan]=8 [rowspan]=3 [style.border-bottom]="'5px solid #FFFFFF'">
        <div class="header-grid">
          {{book.title | uppercase}} <br />
          {{book.author.fullname}} ({{book.publicationDate.substring(0, 4)}})
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=3 [rowspan]=14 [style.border-right]="'3px solid #FFFFFF'" [style.border-bottom]="'3px solid #FFFFFF'">
        image
      </mat-grid-tile>
      <mat-grid-tile [colspan]=5 [rowspan]=17>
        <div class="header-grid">
          Language: {{book.language}}<br />
          Genre:
            <div *ngFor='let genre of book.genres'>
              {{genre.genreName}}
            </div>
          <p>Info about book</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=3 [rowspan]=3 [style.border-right]="'3px solid #FFFFFF'">
        Rating: {{book.rating}} ({{book.totalValues}} values)
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
